# =========================
# ENV FILES (IMPORTANT)
# =========================
.env
.env.*
!.env.example

# =========================
# JAVA / SPRING
# =========================
target/
*.jar
*.war
*.log

# =========================
# IDE
# =========================
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# =========================
# DOCKER
# =========================
*.pid

# =========================
# JENKINS / REPORTS
# =========================
reports/